<h1>Signup</h1>

<form action="/signup" method="POST">
  <p><input type="text" name="name" placeholder="Name" /></p>
  <p><input type="email" name="email" placeholder="Email" /></p>
  <p><input type="password" name="password" placeholder="Password" /></p>
  <p><button>Signup</button></p>
</form>